## Params and loading packages

In [1]:
## First go back up a folder 
import os
os.chdir('..')

In [2]:
## Parameters specific to where your folders are and your data
parameter_file = 'params/params.yaml'
import yaml
import sys

with open(parameter_file,'r') as f:
    doc = yaml.load(f)

#p = dic2obj(**doc)

data_folder = doc['data_folder']
tissues = doc['tissues'].split(',')
sys.path.append(doc['pipeline_path'])
ref_fa = doc['ref_fa']
annotation=doc['annotation']

In [3]:

import os
import sys
import pandas as pd
import matplotlib
import seaborn as sns
import pickle
import numpy as np
import matplotlib as mpl
from matplotlib import pyplot as plt
from itertools import product
import glob
import re
from matplotlib_venn import venn2
from matplotlib import rcParams
import inspect
%matplotlib inline
%config InlineBackend.figure_format = 'retina'
sys.setrecursionlimit(3000)
%load_ext autoreload
%autoreload 2
rcParams['figure.figsize'] = 8, 6
import tqdm
### notebook specific configuration ###
from os.path import basename
#mpl.style.use('ggplot')
mpl.style.use('fivethirtyeight')
from cycler import cycler
mpl.rcParams['axes.prop_cycle'] = cycler(color='bgrcmyk')

from Modules.Homer import *

print('Number of tissues: ',len(tissues))

('Number of tissues: ', 16)

## Compare with the merged peaks (duplicatesSeparate and overlap)

In [ ]:
cmd = 'mergePeaks -d given -venn \
Results/merged/peaksMerged_tagsMerged.tsv_venn.tsv \
-matrix Results/merged/peaksMerged_tagsMerged.tsv \
-strand \
Results/merged/tags_merged.peak \
Results/merged/all_peaks_merged.tsv \
Results/merged/duplicatesSeparate_peaks_merged.tsv.peak > \
Results/merged/peaksMerged_tagsMerged'
print(cmd)
!{cmd}

mergePeaks -d given -venn Results/merged/peaksMerged_tagsMerged.tsv_venn.tsv -matrix Results/merged/peaksMerged_tagsMerged.tsv -strand Results/merged/tags_merged.peak Results/merged/all_peaks_merged.tsv Results/merged/duplicatesSeparate_peaks_merged.tsv.peak > Results/merged/peaksMerged_tagsMerged
	Max distance to merge: direct overlap required (-d given)
	Merging peaks...
	Duplicate peak name (Merged-picr_44-14150391-1) - this could potentially cause problems
		Sometimes unavoidable for BED/2DBED formats
		New name for this peak is Merged-picr_44-14150391-1--2
!!! Could not open peak file: Results/merged/duplicatesSeparate_peaks_merged.tsv.peak !!!
	Comparing Results/merged/tags_merged.peak (205822 total) and Results/merged/tags_merged.peak (205822 total)
	Comparing Results/merged/tags_merged.peak (205822 total) and Results/merged/all_peaks_merged.tsv (340547 total)
	Comparing Results/merged/tags_merged.peak (205822 total) and Results/merged/duplicatesSeparate_peaks_merged.tsv.peak (0 total)
	Comparing Results/merged/all_peaks_merged.tsv (340547 total) and Results/merged/tags_merged.peak (205822 total)
	Comparing Results/merged/all_peaks_merged.tsv (340547 total) and Results/merged/all_peaks_merged.tsv (340547 total)

In [95]:
compare_merge = pd.read_csv('Results/merged/peaksMerged_tagsMerged.tsv_venn.tsv',sep='\t')
compare_merge

,Results/merged/tags_merged.peak,Results/merged/all_peaks_merged.tsv,Total,Name
0,NaN,X,174440,Results/merged/all_peaks_merged.tsv
1,X,NaN,39870,Results/merged/tags_merged.peak
2,X,X,165925,Results/merged/tags_merged.peak|Results/merged...